

<script>


let playerScore = 0 


const question = [
    {
        question: "What is your preferred risk to reward ratio?",
        optionA: "High",
        optionB: "Low",
        correctOption: "optionC"
    },
    

    {
        question: "What is a company?",
        optionA: "A business or association",
        optionB: "Group of friends",
        optionC: "Collaborates",
        optionD: "A class",
        correctOption: "optionA"
    },

    {
        question: "What is a entrepreneur?",
        optionA: "Family member",
        optionB: "A friendly Person",
        optionC: "A person who organizes and operates a business",
        optionD: "George Washington",
        correctOption: "optionC"
    },
    {
        question: "What is a public corporation?",
        optionA: "Compant rhar is set up in public",
        optionB: "Food stand",
        optionC: "School",
        optionD: "Stock of a public company that can be owned by individuals and investors",
        correctOption: "optionD"
    }
]
    let questionNumber = 1 
let playerScore = 0 
l 

    






</script>





