<script>
const startButton = document.getElementById('start-btn' )
const nextButton = document.getElementById('next-btn' )

const questionContainerElement = document.getElementById (' question-database')
const questionElement = document.getElementById (' question')
const answerButtonsElement=document.getElenentbyId('answer-buttons')



let quizResult =0;






const questions =[
    {
    question: 'What is your preferred risk to reward ratio',
    answer :[
        {text: 'High'},
        {text: 'Low'}
        ]
    },
    {
    question: 'Do you prefer short or long term trades?',
    answer :[
        {text: 'Long'},
        {text: 'Short'}
        ]
    },
    {
    question: 'Preferences for what type of companies?',
    answer :[
        {text: 'Environmentally friendly'},
        {text: 'No preference'}
            ]
    },
    {
    question: 'Preferences for what type of companies?',
    answer :[
        {text: 'Environmentally friendly'},
        {text: 'No preference'}
        ]
     }
]

</script>